<a href="https://colab.research.google.com/github/smandava22/python-practice/blob/main/SETS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a={"sai charan","sai pavan","saketh","laxman"}
print(a)

{'sai charan', 'sai pavan', 'saketh', 'laxman'}

In [2]:
a={"sai charan","sai pavan","saketh","laxman","sai charan"}
print(a)#Duplicate values will be ignored

{'sai charan', 'sai pavan', 'saketh', 'laxman'}

In [8]:
a={"sai charan","sai pavan","saketh","laxman"}
print(type(a))
b={5,3,9,1,0}
print(type(b))
c={True,False,False}
print(type(c))
print(a)
print(b)
print(c)

<class 'set'>
<class 'set'>
<class 'set'>
{'sai charan', 'sai pavan', 'saketh', 'laxman'}
{0, 1, 3, 5, 9}
{False, True}

In [7]:
a={11,"saicharan",True,"saketh",6}
print(a)

{True, 'saicharan', 6, 11, 'saketh'}

In [9]:
a=(("sai charan","sai pavan","saketh","laxman"))# note the double round-brackets
print(a)

('sai charan', 'sai pavan', 'saketh', 'laxman', 'sai charan')

In [11]:
a={"sai charan","sai pavan","saketh","laxman"}
for i in a:
  print(i)

sai charan
sai pavan
saketh
laxman

In [12]:
a={"sai charan","sai pavan","saketh","laxman"}
print("sai charan" in a)

True

In [13]:
a={"sai charan","sai pavan","saketh","laxman"
a.add("kaushik")#adding element to set
print(a)

{'sai charan', 'sai pavan', 'laxman', 'kaushik', 'saketh'}

In [14]:
a={"sai charan","sai pavan","saketh","laxman"}
b={"kushwanth","mahidhar","srikar"}
a.update(b)#updating a set to a set
print(a)

{'sai charan', 'sai pavan', 'mahidhar', 'kushwanth', 'srikar', 'saketh', 'laxman'}

In [15]:
a={"sai charan","sai pavan","saketh","laxman"}
b=["kushwanth","mahidhar","srikar"]
a.update(b)#updating the list to a set
print(a)

{'sai charan', 'sai pavan', 'mahidhar', 'kushwanth', 'laxman', 'srikar', 'saketh'}

In [16]:
a={"sai charan","sai pavan","saketh","laxman","sai charan"}
print(len(a))#not counting the duplicate values

4

In [17]:
a={"sai charan","sai pavan","saketh","laxman"}
a.remove("sai pavan")
print(a)

{'sai charan', 'saketh', 'laxman'}

In [18]:
a={"sai charan","sai pavan","saketh","laxman"}
a.discard("sai pavan")
print(a)

{'sai charan', 'saketh', 'laxman'}

In [21]:
a={"sai charan","sai pavan","saketh","laxman"}
x=a.pop()
print(x)
print(a)

sai charan
{'sai pavan', 'saketh', 'laxman'}

In [22]:
a={"sai charan","sai pavan","saketh","laxman"}
a.clear()
print(a)

set()

In [23]:
a={"sai charan","sai pavan","saketh","laxman"}
del a
print(a)#this will raise an error because the set no longer exists

NameError: ignored

In [24]:
a={"sai charan","sai pavan","saketh","laxman"}
for x in a:
  print(x)

sai charan
sai pavan
saketh
laxman

In [26]:
a={"sai charan","sai pavan","saketh","laxman"}
b={"kushwanth","mahidhar","srikar"}
c=a.union(b)
print(c)

{'sai charan', 'sai pavan', 'mahidhar', 'kushwanth', 'srikar', 'saketh', 'laxman'}

In [27]:
a={"sai charan","sai pavan","saketh","laxman"}
b={1,2,3,4,5}
a.update(b)
print(a)
#Note: Both union() and update() will exclude any duplicate items.

{'sai charan', 'sai pavan', 1, 2, 3, 4, 5, 'laxman', 'saketh'}

In [28]:
a={"sai charan","sai pavan","saketh","laxman"}
b={"kushwanth","mahidhar","srikar","sai charan"}
c=a.intersection(b)
print(c)

{'sai charan'}

In [29]:
a={"sai charan","sai pavan","saketh","laxman"}
b={"kushwanth","mahidhar","srikar","sai charan"}
c=a.difference(b)
print(c)#removes elements in the set1 which are same in set2

{'sai pavan', 'saketh', 'laxman'}

In [30]:
a={"sai charan","sai pavan","saketh","laxman"}
b={"kushwanth","mahidhar","srikar","sai charan"}
c=a.symmetric_difference(b)
print(c)

{'sai pavan', 'mahidhar', 'kushwanth', 'laxman', 'srikar', 'saketh'}