PANDAS

In [7]:
import pandas as charan
details={
    'names':['sai charan','saketh','sai pavan','sai kaushik','srikar'],
    'age':['18','17','24','15','32'],
    'gender':['male','female','female','male','male']
}
res=charan.DataFrame(details)
print(res)
res.to_excel(r'D:\details.xlsx') #exporting to excel

         names age  gender
0   sai charan  18    male
1       saketh  17  female
2    sai pavan  24  female
3  sai kaushik  15    male
4       srikar  32    male

In [6]:
import pandas as pd
a=[18,73,3]
var=pd.Series(a)
print(var)

0    18
1    73
2     3
dtype: int64

In [8]:
import pandas
print(pandas.__version__)

1.3.4

In [9]:
import pandas as charan
a = [1,2,3,4,5,6]
sai = charan.Series(a, index = ["c", "h", "a","r","a","n"])
print(sai)

c    1
h    2
a    3
r    4
a    5
n    6
dtype: int64

In [10]:
import pandas as charan
details={'sai charan':'107','saketh':'79','laxman':'122'}
sai=charan.Series(details)
print(sai)

sai charan    107
saketh         79
laxman        122
dtype: object

In [11]:
import pandas as charan
details={'sai charan':'107','saketh':'79','laxman':'122'}
sai=charan.Series(details,index=['sai charan','laxman'])
print(sai)

sai charan    107
laxman        122
dtype: object

In [12]:
import pandas as charan
details={
    'names':['sai charan','saketh','sai pavan','sai kaushik','srikar'],
    'age':['18','17','24','15','32'],
    'gender':['male','female','female','male','male']
}
res=charan.DataFrame(details)
print(res.loc[0:2])

        names age  gender
0  sai charan  18    male
1      saketh  17  female
2   sai pavan  24  female

In [21]:
import pandas as charan
details={
    'names':['sai charan','saketh','sai pavan','sai kaushik','srikar'],
    'age':['18','17','24','15','32'],
    'gender':['male','female','female','male','male']
}
res=charan.DataFrame(details)
print(res.loc[1])

names     saketh
age           17
gender    female
Name: 1, dtype: object